---
layout: default
tab: home
title: Main page
---

<!-- collecting all tags to make links to tag pages.
   Wish I could make it  in a more functional style :( I miss you map, filter and friends :( -->
{% assign tags =  "" | split: "," %}
{% for post in site.posts %}
{% assign tags = tags | concat: post.tags %}
{% endfor %}
{% assign tags = tags | uniq %}

<!-- Print tags with links -->
<h3>Tags:
	{% for tag in tags%}
	<a href="tags/{{tag}}.html">{{tag}}</a>&nbsp;
	{% endfor %}
</h3>

<br />
<hr />

<!-- TODO: should we show the tags for each post here as well? or is it enough to show it for  -->
{% for post in site.posts %}
{% include postlisting.html title=post.title date=post.date url=post.url excerpt=post.excerpt %}
<hr />
{% endfor %}

<script src="https://cdn.commento.io/js/count.js"></script>
