---
layout: default
tab: home
---

<h3>{{ site.posts | size }} articles on many different topics!</h3>

<a id="random-article-link" href="javascript:void(0)">Take me to a random article!</a>

<!-- collecting all tags to make links to tag pages.
   Wish I could make it  in a more functional style :( I miss you map, filter and friends :( -->
{% assign tags =  "" | split: "," %}
{% for post in site.posts %}
{% assign tags = tags | concat: post.tags %}
{% endfor %}
{% assign tags = tags | uniq %}

<!-- Print tags with links -->
<h3>Tags:
  <span class="tag-toggle" id="tag-toggle" onclick="tagToggle()">...+...</span>
  <div id="tag-links" class="tag-links">
	{% for tag in tags%}
	<a href="/tags/{{tag}}.html">{{tag}}</a>&nbsp;
	{% endfor %}
  </div>
</h3>

<!-- Simple script for tag functionality on mobile units -->
<script>
  function tagToggle() {
      // probably better ways. I'm lazy af
      const activePattern = "...+...";
      const links = document.getElementById("tag-links");
      const toggleBtn = document.getElementById("tag-toggle");
      const isActive = activePattern === toggleBtn.innerHTML;
      if (isActive) {
          toggleBtn.innerHTML = "...-...";
          links.style = "display: inline-block;";
      }
      else {
          toggleBtn.innerHTML = activePattern;
          links.style = "display: none;";
      }
  }
</script>

<hr />

<!-- Posts  -->
{% for post in paginator.posts %}
{% include postlisting.html title=post.title date=post.date url=post.url excerpt=post.excerpt %}
<hr />
{% endfor %}

<br />
<br />

<!-- Next page navigation -->
<div class="page-navigation">
	{% if 1 != paginator.page  %}<a href="{{paginator.previous_page_path}}">&#8592;</a>{% endif %}
	<pre>  {{paginator.page}} / {{paginator.total_pages}}  </pre>
	{% if paginator.total_pages != paginator.page  %}<a href="{{paginator.next_page_path}}">&#8594;</a>{% endif %}
</div>

<script src="https://cdn.commento.io/js/count.js"></script>

<script>
 // Little snippet I originally made for AITales to get a random article
 document.getElementById("random-article-link").onclick = function() {
     {% for post in site.posts %}
     {% if page.url != post.url %}
     {% assign urls = urls | append: "'" | append: post.url | append: "', " %}
     {% endif %}
     {% endfor %}
     
     const posts = [{{urls}}].slice(0, -1);
     const randomPost = posts[Math.floor(Math.random() * posts.length)];
     window.open(randomPost, '_self');
 }
</script>
