---
layout: default
tab: home
---

<!-- collecting all tags to make links to tag pages.
   Wish I could make it  in a more functional style :( I miss you map, filter and friends :( -->
{% assign tags =  "" | split: "," %}
{% for post in site.posts %}
{% assign tags = tags | concat: post.tags %}
{% endfor %}
{% assign tags = tags | uniq %}

<!-- Print tags with links -->
<h3>Tags:
	{% for tag in tags%}
	<a href="/tags/{{tag}}.html">{{tag}}</a>&nbsp;
	{% endfor %}
</h3>

<br />
<hr />

<!-- Posts  -->
{% for post in paginator.posts %}
{% include postlisting.html title=post.title date=post.date url=post.url excerpt=post.excerpt %}
<hr />
{% endfor %}

<br />
<br />

<!-- Next page navigation -->
<div class="page-navigation">
	{% if 1 != paginator.page  %}<a href="{{paginator.previous_page_path}}">&#8592;</a>{% endif %}
	<pre>  {{paginator.page}} / {{paginator.total_pages}}  </pre>
	{% if paginator.total_pages != paginator.page  %}<a href="{{paginator.next_page_path}}">&#8594;</a>{% endif %}
</div>

<script src="https://cdn.commento.io/js/count.js"></script>
