$backgroundColor: #ffffff;
$bodyColor: #000000;
//$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$menuMainColor: #FFCCE6;
$menuHoverColor: #FF99CE;
$menuActiveColor: #BF6091;


body {
	background: $backgroundColor;
	color: $bodyColor;
	//font-family: $bodyFont;
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin: 0;
}

.banner {
	height: auto;
	width: 100%;
	float: left;
	background-color: $menuMainColor;
}

// only display for mobiles
.mobile-menu-toggle {
	display: none;
}

.menu {
	top: 0;
	position: sticky;
	width: 100%;
	background-color: $menuMainColor; 
	overflow: hidden;
	z-index: 99;
	border-radius: 0 0 1em 1em;
}

.menu nav a {
	background-color: $menuMainColor;
	font-size: 2em;
	display: inline-block;
	margin-left: -0.5%;
	margin-bottom: -0.5%;
	padding: 1%;
	padding-left: 3%;
	padding-right: 3%;
	color: black;
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
}

.menu nav a:hover {
	color: white;
	background-color: $menuHoverColor; 
}

.menu nav .active {
	color: white;
	background-color: $menuActiveColor; 
	border-left: 1% solid black;
	border-right: 1% solid black;
}

.menu nav .search {
	float: right;
}

.menu nav .rss {
	float: right;
}

.content {
	width: 70vw;
	box-shadow: 0 0 1em gray;
	border-radius: 0.25em;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 4vh;
	padding-bottom: 2vh;
	font-size: 1.5em;
	margin-top: 8vh;
	margin-left: auto;
	margin-right: auto;
}

.content .verse {
	margin-left: 2vw;
	font-style: italic;
	// TODO: see if this has issues with some browsers
	font-family: ui-rounded;
}

// fixing various settings for mobile devices
@media only screen and (max-width: 600px) {

	.mobile-menu-toggle {
		display: block;
		font-size: 2em;
		background-color: $menuMainColor;
		color: black;
	}

	.menu {
		display: none;
	}
	
	.menu.active {
		top: 0;
		position: relative;
		display: block;
		border-radius: 0;
	}

	.menu nav a {
		font-size: 1.5em;
		display: block;
	}
	
	.content {
		width: 90%;
		box-shadow: none;
		font-size: 1.25em;
		margin: auto;
		padding-top: 1vh;
		padding-left: 0;
		padding-right: 0;
	}

	.footer {
		margin-left: 0;
		margin-right: 0;
		margin-top: 4vh;
	}
}

.content .downloads {
	margin-top: -2vh;
	float: right; 
}

.content .downloads a {
	font-size: 1em;
	text-decoration: none;
	color: black;
}

.content .timestamp {
	font-size: medium;
	float: right;
}

.content .tags {
	font-size: medium;
}

.content code {
	border-style: solid;
}

// TODO: any way to make this count for all heasders? Probably forgetting something here :P (the [class^=h] solution seems like it may cover too much in the future. Maybe overthinking it xD
.content h2 a {
	text-decoration: underline;
	color: black;
}

.footer {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
}

.footer .info {
	float: left;
}

.footer .external-links {
	height: 5vh;
	float: right;
}

.footer .external-links a {
	color: black;
	text-decoration: none;
	text-align: right;
	display: block;
}

.footer .external-links a img {
	height: 2vh;
	width: auto;
}

.bloglisting {
	padding-bottom: 1vh;
}

.bloglisting h2 a {
	text-decoration: none;
	color: black;
}

.blogpostimg {
	max-width: 70%;
	max-height: auto;
	margin: auto;
	padding: 2px;
	display: block;
}

// TODO: any way to combine these two that I'm forgetting? :(
// TODO: do these need to be changed a bit for mobile devices? Maybe ditch the float?
.blogfloatrightimg {
	max-width: 20%;
	max-height: auto;
	display: block;
	margin-left: 1vw;
	margin-bottom: 1vh;
	padding-right: 2vw;
	border-style: solid;
	float: right;
}

.blogfloatleftimg {
	max-width: 20%;
	max-height: auto;
	display: inline-block;
	white-space:  nowrap;
	margin-right: 2vw;
	margin-bottom: 1vh;
	padding-right: 2vw;
	border-style: solid;
	float: left;
}

.adbanners {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	
	.aligncenter * {
		margin-left: auto;
		margin-right: auto;
	}
}


// Simple NOTE! Box for blog articles where I want a gotcha or something similar as we would have in a book!
.notebox {
	border: 1px solid black;
	width: 80%;
	align-self: center;
	margin: auto;
}

.notebox-content {
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-top: 1vh;
	background-color: #f2f3f4;
}

.notebox-heading {
	background-color: #909090;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	font-size: 1.5em;
}

.page-navigation {
	font-size: 1.25em;
	width: 100%;
	margin: auto;
	text-align: center;
}

.page-navigation a {
	text-decoration: none;
}

.page-navigation pre {
	display: inline-block;
}

.org-src-container {
	pre {
		white-space: pre-wrap;
	}
}

.blogpost-table {
	width: 50%;

	thead {
		background-color: gray;
	}
	tbody {
		text-align: center;
	}
}

.searchfield {
    h5 {
        margin-bottom: 0.5vh;
    }
}
