:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --link-color: blue;
    --menu-main-color: #FFCCE6;
    --menu-hover-color: #FF99CE;
    --menu-active-color: #BF6091;
}

[data-mode="dark"] {
    --bg-color: #000000;
    --text-color: #7A6BD5;
    --link-color: #7A6BD5;
    --menu-main-color: #5A296B;
    --menu-hover-color: #400F50;
    --menu-active-color: #BF6091;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin: 0;
}

.banner-container {
	width: 100vw;
	background-color: var(--menu-active-color);

    .banner {
        display: block;
        width: 60%;
        height: auto;
        margin: auto;
    }
}

// only display for mobiles
.mobile-menu-toggle {
	display: none;
}

.menu {
	top: 0;
	position: sticky;
	width: 100%;
	background-color: var(--menu-main-color); 
	overflow: hidden;
	z-index: 99;
	border-radius: 0 0 1em 1em;
}

.menu nav a {
	background-color: var(--menu-main-color);
	font-size: 1.5em;
	display: inline-block;
	margin-left: -0.5%;
	margin-bottom: -0.5%;
	padding: 0.75%;
	padding-left: 2%;
	padding-right: 2%;
	color: var(--text-color);
	text-decoration: none;
	font-weight: bolder;
	text-align: center;
}

.menu nav a:hover {
	color: white;
	background-color: var(--menu-hover-color); 
}

.menu nav .active {
	color: white;
	background-color: var(--menu-active-color); 
	border-left: 1% solid black;
	border-right: 1% solid black;
}

.menu nav .search {
	float: right;
}

.menu nav .rss {
	float: right;
}

.color-mode-toggle {
    font-size: 2em;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25em;
    padding: 0.1em;
    background: var(--bg-color);
    position: absolute;
    z-index: 1;
    top: 0.25em;
    right: 0.25em;
}

.color-mode-toggle-dark {
    background: black;
    color: white;
}

.content {
	width: 70vw;
	box-shadow: 0 0 1em gray;
	border-radius: 0.25em;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-size: 1.25em;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
}

.content a {
    color: var(--link-color);
}

.content .verse {
	margin-left: 2vw;
	font-style: italic;
	font-family: ui-rounded;
}

.tag-toggle {
    display: none;
}

#search-result-container div {
    cursor: pointer;
}

.printbutton {
    float: right;
    display: inline-block;
    cursor: pointer;
}

// fixing various settings for mobile devices
@media only screen and (max-width: 600px) {

    .banner {
        width: 100%;
    }
    
	.mobile-menu-toggle {
		display: block;
		font-size: 2em;
		background-color: var(--menu-main-color);
		color: black;
	}

    // todo: easing of some kind. now it is very sudden
    //         transition: display 5s ease-in-out;
	.menu {
		display: none;
	}
	
	.menu.active {
		top: 0;
		position: relative;
		display: block;
		border-radius: 0;
	}

	.menu nav a {
		font-size: 1.5em;
		display: block;
	}
	
	.content {
		width: 90%;
		box-shadow: none;
		font-size: 1.25em;
		margin: auto;
		padding-top: 1vh;
		padding-left: 0;
		padding-right: 0;
	}

    .printbutton {
        display: none;
    }

    .tag-toggle {
        display: inline-block;
        font-weight: normal;
        color: var(--link-color);
    }

    .tag-toggle-hide {
        display: none;
    }
    
    .tag-links {
        display: none;
    }

	.footer {
		margin-left: 0;
		margin-right: 0;
		margin-top: 4vh;
	}
}

.content .timestamp {
	font-size: medium;
	float: right;
}

.content .sharebuttons {
    font-size: small;

    a {
        text-decoration: solid;
    }

    img {
        height: 2vh;
	    width: auto;
    }
}

.content .tags {
	font-size: medium;
}

.content code {
	border-style: solid;
}

// TODO: any way to make this count for all heasders? Probably forgetting something here :P (the [class^=h] solution seems like it may cover too much in the future. Maybe overthinking it xD
.content h2 a {
	text-decoration: underline;
	color: var(--text-color);
}

.content blockquote {
    background: #f2f2f2;
    border-left: 10px solid gray;
    padding: 1em;
    margin: 1em 2em;
    display: block;
    box-shadow: 5px 5px 2px 0 lightgray;
}

.footer {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4vh;
}

.footer .info {
	float: left;
    max-width: 40vw;
}

.footer .external-links {
	height: 5vh;
	float: right;
    max-width: 40vw;
}

.footer .external-links a {
	color: var(--text-color);
	text-decoration: none;
	text-align: right;
	display: block;
}

.footer .external-links a img {
	height: 2vh;
	width: auto;
}

.bloglisting {
	padding-bottom: 1vh;
}

.bloglisting h2 a {
	text-decoration: none;
	color: var(--text-color);
}

.blogpostimg {
	max-width: 70%;
    max-height: 70vh;
	height: auto;
	margin: auto;
	padding: 2px;
	display: block;
}

.blogfloatrightimg {
	max-width: 20%;
	max-height: auto;
	display: block;
	margin-left: 1vw;
	margin-bottom: 1vh;
	padding-right: 2vw;
	border-style: solid;
	float: right;
}

.blogfloatleftimg {
	max-width: 20%;
	max-height: auto;
	display: inline-block;
	white-space:  nowrap;
	margin-right: 2vw;
	margin-bottom: 1vh;
	padding-right: 2vw;
	border-style: solid;
	float: left;
}

.adbanners {
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	
	.aligncenter * {
		margin-left: auto;
		margin-right: auto;
        text-align: center;
	}
}


// Simple NOTE! Box for blog articles where I want a gotcha or something similar as we would have in a book!
.notebox {
	border: 1px solid black;
	width: 80%;
	align-self: center;
	margin: auto;
}

.notebox-content {
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-top: 1vh;
	background-color: #f2f3f4;
}

.notebox-heading {
	background-color: #909090;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	font-size: 1.5em;
}

.page-navigation {
	font-size: 1.25em;
	width: 100%;
	margin: auto;
	text-align: center;
}

.page-navigation a {
	text-decoration: none;
}

.page-navigation pre {
	display: inline-block;
}

.org-src-container {
	pre {
		white-space: pre-wrap;
	}
}

.blogpost-table {
	width: 50%;

	thead {
		background-color: gray;
	}
	tbody {
		text-align: center;
	}
}

.searchfield {
    h5 {
        margin-bottom: 0.5vh;
    }
}

// Experimental printing support
@media print {
    .menu, .footer, .color-mode-toggle, .sharebuttons, .printbutton, .related_posts, #commento {
        display: none;
        margin: 0;
    }

    .content {
        width: 95vw;
        padding: 0;
        margin: 0;
        box-shadow: none;
        
        hr {
            display: none;
        }
    }

    .banner {
        width: auto;
        height: 10vh;
        margin: 0;
        padding: 0;
    }

    .notebox {
        width: 100%;
    }
}
