<!--
    Super minimal site for older machines like the ones with a Motorola 68k processor :)
    -->
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <title>{{ page.title | default: site.title }} - 68k Edition</title>
    </head>
    <body>
        <img  width="320" src="{{ "/assets/img/banner_68k.jpg" | relative_url }}" alt="" />
        <br />
        <p>Experimental site for older computers :)</p>
        {{ content }}
        <br />
        -- links and stuff in the future maybe --
    </body>
</html>
