<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- TODO:
		   - search using Lunr: https://lunrjs.com/guides/getting_started.html
		   - Print functionality
		   - mobi export functionality?
		   - export fragments (footers etc.) into includes maybe?
		   -->
		<meta charset="utf-8">
		<meta name="description" content="{{page.excerpt | strip_html | default: "A blog about computers, math and other things that interest me."}}">
		<meta name="keywords" content="programming,retro,computing,math,commodore,books,{{page.tags | join: ","}}">
		<meta name="author" content="Marie Katrine Ekeberg">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="20JrQitwyDu_6IQwvW4JMD8oAX0b-L8cbqQCfQiVqac" />
		
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

		<!-- TODO: should mathjax and highlight probably just be loaded for articles? see if this is necessary -->
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

		<link rel="stylesheet"
				   href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/sunburst.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/lisp.min.js" integrity="sha512-/opdFSi4yauKgOKsTeN7MPbPp2QnhX2y7WvaS682VYwmtSsTwM1qsePlN1Vn+iTWL3PvXI5vtFQFPLNrPphBJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<title>{{ page.title }} - {{ site.title }}</title>
	</head>
	<body>
		<img  class="banner" src="{{ "/assets/img/banner.jpg" | relative_url }}" alt="" />
		<div class="mobile-menu-toggle" onclick="toggleHamburgerMenu()">&#9776;</div>
		<div class="menu" id="menu">
			<nav>
				<a {% if page.tab == "home" %}
				   class="active"
				   {% endif %}
				   href="/">Home</a>
				<a {% if page.url == "/tags/books.html" %}
				   class="active"
				   {% endif %}
				   href="{{"tags/books.html" | relative_url }}">Book recommendations</a>
				<a {% if page.tab == "tech" %}
				   class="active"
				   {% endif %}
				   style="display: none;"
				   href="#">Tech posts</a>
				<a {% if page.tab == "math" %}
				   class="active"
				   {% endif %}
				   style="display: none;"
				   href="#">Math posts</a>
				<a {% if page.tab == "projects" %}
				   class="active"
				   {% endif %}
				   style="display: none;"
				   href="{{"projects.html" | relative_url}}">Projects</a>
				<a {% if page.tab == "about" %}
				   class="active"
				   {% endif %}
				   href="{{"about.html" | relative_url}}">About me</a>

				<a class="search" href="#search" style="display: none;">&#x1f50d;</a>
			</nav>
		</div>
		
		<div class="content">
			{{ content}}
		</div>

		<div class="amazonbanners">
			<div class="aligncenter" align="center">
				<div id="amzn-assoc-ad-4baf7983-a064-4d67-8986-3a903daa3cf6"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=4baf7983-a064-4d67-8986-3a903daa3cf6"></script>
			</div>
		</div>
		
		<div class="footer">
			<hr />
			
			<div class="info">
				<p>Opinions expressed are my own and does not represent my employer or anyone else but me!</p>
				<p>This site contains paid links (Amazon affiliate and more), which may use cookies. By using this site you agree to those cookies being used.</p>
				<p>Made by Marie K. Ekeberg</p>
				<p>Banner by <a href="https://fredrikek.artstation.com/">Fredrik Ekeberg</a></p>
			</div>

			<!-- TODO: make these as a list on the left side. Name + icon (link) -->
			<div class="external-links">
				<a href="http://github.com/themkat">Github <img src="{{ "assets/img/github.png" | relative_url }}" alt="Github icon" /></a>
				<a href="https://www.instagram.com/theemacsmkat/">Instagram <img src="{{ "assets/img/instagram_glyph.png" | relative_url }}" alt="Instagram icon" /></a>
				<a href="https://www.redbubble.com/people/themkat/shop">Redbubble store 👕</a>
				<a href="https://teespring.com/stores/cross-compile">Teespring store👕</a>
			</div>
		</div>

		<script>
		 // Highlight Org mode exported source code blocks if any
		 document.addEventListener('DOMContentLoaded', (event) => {
			 document.querySelectorAll('pre.src').forEach((block) => {
				 // hack to get hljs to cooperate with my org mode settings
				 block.className = block.className.replace('src-', 'language-');
				 hljs.highlightElement(block);
			 });
		 });

		 // hamburger menu helper for mobile phones
		 function toggleHamburgerMenu() {
			 // super quick and ugly code...
			 const menu = document.getElementById('menu');
			 if(menu.classList.length > 1) {
				 menu.classList.remove('active');
			 }
			 else {
				 menu.classList.add('active');
			 }
		 }

		 function generalKenobi() {
			 console.log(':)');
		 }

		 console.log('Hello there');
		</script>
	</body>
</html>
