<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- TODO:
		   - search using Lunr: https://lunrjs.com/guides/getting_started.html
		   - Print functionality
		   - mobi export functionality?
		   - export fragments (footers etc.) into includes maybe?
		   -->
		<!-- TODO: search engine opttimization -->
		<meta charset="utf-8">
		<meta name="description" content="A blog about computers, math and other things that interest me">
		<meta name="keywords" content="programming,retro,computing,math">
		<meta name="author" content="Marie Katrine Ekeberg">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

		<!-- TODO: should mathjax and highlight probably just be loaded for articles? see if this is necessary -->
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

		<link rel="stylesheet"
				   href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
		<script>
		 hljs.initHighlightingOnLoad();
		 hljs.configure({tabReplace: '    '});
		</script>

		<title>{{ page.title }} - {{ site.title }}</title>
	</head>
	<body>
		<img  class="banner" src="{{ "/assets/img/banner.png" | relative_url }}" alt="" />
		<div class="mobile-menu-toggle" onclick="toggleHamburgerMenu()">&#9776;</div>
		<div class="menu" id="menu">
			<nav>
				<a {% if page.tab == "home" %}
				   class="active"
				   {% endif %}
				   href="/">Home</a>
				<a {% if page.tab == "tech" %}
				   class="active"
				   {% endif %}
				   href="#">Tech posts</a>
				<a {% if page.tab == "math" %}
				   class="active"
				   {% endif %}
				   href="#">Math posts</a>
				<a {% if page.tab == "projects" %}
				   class="active"
				   {% endif %}
				   href="{{"projects.html" | relative_url}}">Projects</a>
				<a {% if page.tab == "about" %}
				   class="active"
				   {% endif %}
				   href="{{"about.html" | relative_url}}">About me</a>

				<a class="search" href="#search" style="display: none;">&#x1f50d;</a>
			</nav>
		</div>
		
		<div class="content">
			{{ content}}
		</div>

		<div class="footer">
			<hr />
			
			<div class="info">
				Made by Marie K. Ekeberg. Ugly design, but hope you enjoy the articles :)
			</div>

			<!-- TODO: make these as a list on the left side. Name + icon (link) -->
			<div class="external-links">
				<a href="http://github.com/themkat">Github <img src="{{ "assets/img/github.png" | relative_url }}" /></a>
				<a href="https://teespring.com/stores/cross-compile">Teespring store</a>
			</div>
		</div>

		<script>
		 // Highlight Org mode exported source code blocks if any
		 document.addEventListener('DOMContentLoaded', (event) => {
			 document.querySelectorAll('pre.src').forEach((block) => {
				 hljs.highlightBlock(block);
			 });
		 });

		 // hamburger menu helper for mobile phones
		 function toggleHamburgerMenu() {
			 // super quick and ugly code...
			 const menu = document.getElementById('menu');
			 if(menu.classList.length > 1) {
				 menu.classList.remove('active');
			 }
			 else {
				 menu.classList.add('active');
			 }
		 }

		 console.log('Hello there');
		</script>
	</body>
</html>
