<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<!-- TODO:
		   - search using Lunr: https://lunrjs.com/guides/getting_started.html
		   - Print functionality
		   - mobi export functionality?
		   - export fragments (footers etc.) into includes maybe?
		   -->
		<meta charset="utf-8">
		<meta name="description" content="{{page.excerpt | strip_html | strip_newlines | escape | default: "A blog about computers, math and other things that interest me."}}">
		<meta name="keywords" content="programming,retro,computing,math,commodore,books,{{page.tags | join: ","}}">
		<meta name="author" content="Marie Katrine Ekeberg">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="20JrQitwyDu_6IQwvW4JMD8oAX0b-L8cbqQCfQiVqac" />

		<meta name="p:domain_verify" content="455e87f8b6615467e4384ce4e245b3cc"/>
        
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
        
		<!-- Only load mathjax (latex math) and syntax highlighter on blogposts -->
        {% if page.path contains '_posts' %}
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

		<link rel="stylesheet"
				   href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/sunburst.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/languages/lisp.min.js" integrity="sha512-/opdFSi4yauKgOKsTeN7MPbPp2QnhX2y7WvaS682VYwmtSsTwM1qsePlN1Vn+iTWL3PvXI5vtFQFPLNrPphBJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endif %}

        <!-- Alternate tags for RSS autodiscovery -->
        {% if paginator.page %}
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" title="TheMKats blog RSS/atom feed" />
        {% elsif page.tag %}
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed/by_tag/{{ page.tag }}.xml" title="TheMKats blog {{ page.tag | capitalize }} RSS/atom feed" />
        {% endif %}
        
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-HLD6RM0SP3"></script>
		<script>
		 window.dataLayer = window.dataLayer || [];
		 function gtag(){dataLayer.push(arguments);}
		 gtag('js', new Date());

		 gtag('config', 'G-HLD6RM0SP3');
		</script>

        <!-- Open Graph metadata for social media and other sharing -->
        <!-- TODO: check if there is a better way to determine if we are inside a blogpost or not -->
        {% if page.id %}
        <meta property="og:image" content="{{ page.preview_image | default: "/assets/img/banner.jpg" | absolute_url }}">
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
        {% for tag in page.tags %}
        <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
        <meta property="twitter:label1" content="Estimated reading time">
        <meta property="twitter:data1" content="{{ page.content | number_of_words | divided_by: 150 }} mins">
        {% else %}
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ "/assets/img/banner.jpg" | relative_url }}">
        {% endif %}
        <meta property="og:author" content="Marie K. Ekeberg">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <meta property="twitter:url" content="{{ page.url | absolute_url }}">
        <meta property="og:site_name" content="TheMkat">

        <!-- Structured data for google. Might help for better previews -->
        {% if page.id %}
        <script type="application/ld+json">
         {
             "@context": "https://schema.org",
             "@type": "Article",
             "headline": "{{ page.title }}",
             "image": [
                 "{{ page.preview_image | default: "/assets/img/banner.jpg" | absolute_url }}"
             ],
             "datePublished": "{{ page.date | date_to_xmlschema }}",
             "author": {
                 "@type": "Person",
                 "name": "Marie K. Ekeberg",
                 "url": "https://themkat.net/about.html"
             }
         }
        </script>
        {% endif %}
		
		<title>{{ page.title | default: site.title }}</title>
	</head>
	<body>
        <div class="banner-container">
            <img  class="banner" src="{{ "/assets/img/banner.jpg" | relative_url }}" alt="" />
        </div>
		<div class="mobile-menu-toggle" onclick="toggleHamburgerMenu()">&#9776;</div>
        <div class="color-mode-toggle" id="mode" onclick="toggleColorMode()">☼</div>
		<div class="menu" id="menu">
			<nav>
				<a {% if page.tab == "home" %}
				   class="active"
				   {% endif %}
				   href="/">Home</a>
                <a {% if page.url == "/tags/programming.html" %}
				   class="active"
				   {% endif %}
				   href="{{"tags/programming.html" | relative_url }}">Programming</a>
				<a {% if page.url == "/tags/emacs.html" %}
				   class="active"
				   {% endif %}
				   href="{{"tags/emacs.html" | relative_url }}">Emacs</a>
				<a {% if page.url == "/tags/books.html" %}
				   class="active"
				   {% endif %}
				   href="{{"tags/books.html" | relative_url }}">Book club</a>
				<a {% if page.tab == "about" %}
				   class="active"
				   {% endif %}
				   href="{{"about.html" | relative_url}}">About me</a>

				<a class="rss" href="/feed.xml">RSS feed</a>
			</nav>
		</div>

        <div class="adbanners">
            <div class="aligncenter" align="center">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1505828284633053"
     crossorigin="anonymous"></script>
<!-- themkat_toptest -->
                <ins class="adsbygoogle"
                     style="display:block;height: max(75px,15vh);"
                     data-ad-client="ca-pub-1505828284633053"
                     data-ad-slot="4185369975"
                     data-ad-format="fluid"></ins>
                <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        
		<div class="content">
            {% include searchbox.html %}
			{{ content}}
		</div>

		<div class="footer">
			<hr />
			
			<div class="info">
				<p>Opinions expressed are my own and does not represent my employer or anyone else but me!</p>
                <p>As an Amazon Associate I earn from qualifying purchases.</p>
				<p>This site contains paid links (Amazon affiliate and more), which may use cookies. By using this site you agree to those cookies being used.</p>
				<p>Made by Marie K. Ekeberg</p>
				<p>Banner by <a href="https://fredrikek.artstation.com/">Fredrik Ekeberg</a></p>
			</div>

			<!-- TODO: make these as a list on the left side. Name + icon (link) -->
			<div class="external-links">
			    <a href="https://github.com/themkat">Github <img src="{{ "assets/img/github.png" | relative_url }}" alt="Github icon" /></a>
                <a href="https://www.youtube.com/channel/UC_3sv9P5H8wShL1cRnsHDjA">Youtube <img src="{{ "assets/img/youtube_icon.png" | relative_url }}" alt="Youtube icon" /></a>
                <a href="https://www.threads.net/@theemacsmkat">Threads <img src="{{ "assets/img/threadslogo.png" | relative_url }}" alt="Threads icon" /></a>
				<a href="https://www.facebook.com/themkat">Facebook <img src="{{ "assets/img/facebooklogo.png" | relative_url }}" alt="Facebook icon" /></a>
				<a href="https://www.redbubble.com/people/themkat/shop">Redbubble store 👕</a>
				<a href='https://ko-fi.com/R6R2BZ04A' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi2.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
			</div>
		</div>

		<script>
          {% if page.path contains '_posts' %}
		  // Highlight Org mode exported source code blocks if any
		  document.addEventListener('DOMContentLoaded', (event) => {
			  document.querySelectorAll('pre.src').forEach((block) => {
				  // hack to get hljs to cooperate with my org mode settings
				  block.className = block.className.replace('src-', 'language-');
				  hljs.highlightElement(block);
			  });
		  });
          {% endif %}

		 // hamburger menu helper for mobile phones
		 function toggleHamburgerMenu() {
			 // super quick and ugly code...
			 const menu = document.getElementById('menu');
			 if(menu.classList.length > 1) {
				 menu.classList.remove('active');
			 }
			 else {
				 menu.classList.add('active');
			 }
		 }

         function toggleColorMode() {
             const mode = document.getElementById('mode');
             if (mode.classList.length > 1) {
                 document.body.removeAttribute('data-mode');
                 localStorage.removeItem('mode');
                 mode.classList.remove('color-mode-toggle-dark');
             }
             else {
                 document.body.setAttribute('data-mode', 'dark');
                 localStorage.setItem('mode', 'dark');
                 mode.classList.add('color-mode-toggle-dark');
             }
         }
         
		 function generalKenobi() {
			 console.log(':)');
		 }

         // load theme settings if the user has set them before
         if ('dark' === localStorage.getItem('mode')) {
             document.body.setAttribute('data-mode', 'dark');
             mode.classList.add('color-mode-toggle-dark');
         }
          
		 console.log('Hello there');
		</script>
	</body>
</html>
